<div class="container form-authentication">
  <div class="user_form" roll="form">
      <div class="col-sm-12 text-center">
        <h2>Change Login Credentials</h2>
      </div>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

        <div class="col-sm-6">
          <div class="form-group row">

            <%= f.label :email, class: "control-label col-lg-3" %>

            <div class="col-lg-9">
              <%= f.email_field :email, class: "form-control", autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>
                Currently waiting confirmation for: <%= resource.unconfirmed_email %>
              </div>
            <% end %>

          </div>

          <div class="form-group row">
            <%= f.label :current_password, class: "control-label col-lg-3" %>

            <div class="col-lg-9">
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
              <i>(we need your current password to confirm your changes)</i>
            </div>

          </div>
        </div>


        <div class="col-sm-6">
          <div class="form-group row">
            <%= f.label :password, class: "control-label col-lg-3" %>
            <div class="col-lg-9">
              <%= f.password_field :password, autocomplete: "off", placeholder: "(Leave blank if you don't want to change it)", class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password_confirmation, class: "control-label col-lg-3" %>
            <div class="col-lg-9">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="actions col-sm-6">
          <%= f.submit "Update", class: "btn btn-lg btn-default btn-block" %>
        </div>

      <% end %> <!-- end form_for -->


      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4">
          <%= link_to :back, class: "btn btn-lg btn-default" do %>
            <i class="glyphicon glyphicon-arrow-left"></i>
            Back
          <% end %>
          </div>
          <div class="col-sm-8">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-lg btn-default btn-block" %>
          </div>
        </div>
      </div>

  </div>

</div>